body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

img {
  width: 100px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  list-style: none;
}

li {
  width: 400px;
  border: 1px solid grey;
}

.info {
  border: 1px solid grey;
  margin: 3px;
  padding: 3px;
}

.data {
  display: flex;
  justify-content: space-between;
}